<h2><%= @recipe.category.name %></h2>
<h3><%= @recipe.name %></h3>
<% @recipe.ingredients.each do |t| %>
    <li><%= t.name %></li>
    <%end%>
<%= link_to "Add Ingredient", new_recipe_ingredient_path(@recipe) %>
